.vline {
    border-left: 1px solid #c7c3c3;
    /* height: 100%; */
    /* left: 50%; */
    /* position: absolute; */
    height: 600px;
    flex-shrink: 0;
    position: relative;
    right: 30px;
}