@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

.icon {
    width: 80px;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon_span {
    position: relative;
    top: -15px;
    font-family: 'Leckerli One';
    font-size: 15px;
}

.div_h3 {
    padding: 2px 3px 0px 20px;
}