.wrapper {
    position: fixed;
    bottom: -10000px;
    width: 1440px;
    justify-content: center;
    margin-top: 220px;
    height: 340px;
    /* transition: bottom .1s ease-in-out;  */
}

.footerContainer {
    margin: 20px;
    flex-wrap: wrap;
}

.flexContainer {
    display: flex;
    justify-content: space-evenly;
}

.visible {
    bottom: 0px;
}

.flexItemLogo {
    height: 220px;
    width: 250px;
}

.imgwrap {
    content: url('/src/images/logo_black.png');
    width: 140px;
    height: 90px;
}

.flexItem {
    width: 400px;
    /* height: 220px; */
}

.rightLine {
    border-right: 1px solid black;
}

.foot {
    width: 1440px;
    text-align: center;
    padding-top: 45px;
    bottom: 0;
}