.headerContainer {
  /* background-color: rgba(215, 242, 205, 1); */
  width: 1440px;
  height: 100px;
  position: absolute;
}

.logo {
  padding: 15px 25px 25px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.icon {
  height: 68px;
  font-size: 22px;
  padding-top: 15px;

}

.icons {
  text-decoration: none;
  color: black;
}

.icon_spacing {
  padding-right: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.logoImg {
  content: url('/src/images/header_Logo.png');
  width: 140px;
  height: 68px;
}