@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Leckerli+One&display=swap');

.div_desc {
    margin: 10px
}

.name {
    color: gray;
    font-size: 15px;
    margin: 0px 0px 0px 20px;
}

.review_paper {
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.review_paper:hover {
    transform: scale(1.02);
}

.review_paper:active {
    box-shadow: inset -.3rem -.1rem 1.4rem #FBFBFB, inset .3rem .4rem .8rem #BEC5D0;
    cursor: pointer;
}




.divHead {
    display: grid;
    grid-template-columns: 40px 1fr;
    margin: 10px
}



.img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}



.container {
    /* 모달창 크기 */
    width: 300px;
    height: 200px;

    /* 최상단 위치 */
    z-index: 999;

    /* 중앙 배치 */
    /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
    /* translate는 본인의 크기 기준으로 작동한다. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* 모달창 디자인 */
    background-color: gray;
    border: 1px solid black;
    border-radius: 8px;
}