.wrapper {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 1024px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;

}

.content_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 1024px;
  margin: 0 auto;
  left: 0;
  right: 0;
}